form[name="newLicenseForm"]{
<<<<<<< HEAD
    border: 2px solid #000;
    display: inline-block;
}

input[data-srikar="viswa"]{
    border: 2px dotted #00FF00;
    display: inline-block;
}

div{
=======
    display: block;
    border: 2px solid #000;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

div{
    margin: 10px 20px;
>>>>>>> upstream/master
    display: inline-block;
}

label{
    display: block;
<<<<<<< HEAD
}

/*#reset{
    color: #ff0000;
}*/

button[type="reset"]{
    background: #ff0000;
    color: #fff;
    border-color: #000;
}

/*#firstName, #lastName{
    background: #00ff00;
    border: 1px solid #ff0000;
}*/


input[name="lName"]{
    border-radius: 5px;
}

.container{
    background: #0000ff;
=======
    padding: 10px 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 10px;
}

button{
    border: 1px solid #5e5e5e;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
}

button[type="submit"]{
    background: #41b70c;
}

button[type="reset"]{
    background: #f71814;
}

input{
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
>>>>>>> upstream/master
}