<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../stylesheets/styles/styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="col-sm-2">
                <p><img src="../images/logo.png" style="height:80px; width:100px;"></p>
            </div>
            <div class="col-sm-6">
                <p>
                <ol class="breadcrumb">
                    <li> <a href="index.html">Home</a></li>
                    <li> <a href="#">About</a></li>
                    <li> <a href="in.html">Technologies</a></li>
                    <li> <a href="t.html">XYZ</a></li>
                </ol>
                </p>
            </div>
            <div class="col-sm-2"></div>

        </div>
    <div class="row">
        <div class="col-sm-3">
            <h2>Name: Rajesh</h2>
        </div>
        <div class="col-sm-3">
            <h2>Designation: UI Developer</h2>
        </div>
        <div class="col-sm-3">
            <h2>Contact: 123456789</h2>
        </div>
        <div class="col-sm-3">
            <h2>Technologies: CSS3, HTML5, JS, BOOTSTRAP</h2>
        </div>
    </div>
</div>



</body>
</html>