<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Our Website</title>
        <link href="../stylesheets/styles/styles.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="col-sm-2">
                    <p><img src="../images/logo.png" style="height:80px; width:100px;"></p>
                </div>
                <div class="col-sm-6">
                    <p>
                    <ol class="breadcrumb">
                        <li> <a href="index.html">Home</a></li>
                        <li> <a href="about.html">About</a></li>
                        <li> <a href="#">Technologies</a></li>
                        <li> <a href="t.html">XYZ</a></li>
                    </ol>
                    </p>
                </div>
                <div class="col-sm-2"></div>

            </div>
        </div>

        <div class="header">
        <div id="form1" class="header">
            <label>Email:<label> <br> <input type="email" name="input" placeholder="email" required>
             <br/>
            <input type="checkbox" />keep me logged in
        </div>
        <div  id="form2" class="header">
            <label>Password:</label> <br> <input placeholder="password" type="password" name="password" />
            </br>
                forgot my password!
            </br>
            <button name="submit" type="submit" class="submit">submit</button>
        </div>

        </div>
    </div>
    </body>
</html>