<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link  href="../stylesheets/styles/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="col-sm-2">
                <p><img src="../images/logo.png" style="height:80px; width:100px;"></p>
            </div>
            <div class="col-sm-6">
                <p>
                <ol class="breadcrumb">
                    <li> <a href="index.html">Home</a></li>
                    <li> <a href="about.html">About</a></li>
                    <li> <a href="in.html">Technologies</a></li>
                    <li> <a href="#">XYZ</a></li>
                </ol>
                </p>
            </div>
            <div class="col-sm-2"></div>

        </div>

<div class="grid-container outline">
    <div class="row">
        <div class="col-sm-2"><p>col-1</p></div>
        <div class="col-sm-2><p>col-1</p></div>
        <div class="col-sm-2"><p>col-1</p></div>
        <div class="col-sm-2"><p>col-1</p></div>
        <div class="col-sm-2"><p>col-1</p></div>
        <div class="col-sm-@"><p>col-1</p></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><p>col-2</p></div>
        <div class="col-sm-4"><p>col-2</p></div>
        <div class="col-sm-4"><p>col-2</p></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><p>col-3</p></div>
        <div class="col-sm-6"><p>col-3</p></div>
    </div>
</div>
</div>
</body>
</html>